* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none !important;
  scroll-behavior: smooth !important;
}

.pointer {
  cursor: pointer;
}

.z_10 {
  z-index: 10;
}

/* hero */
.hero_bg {
  background-image: url(../src/assets/img/hero_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}

.menu_icon {
  font-weight: 600;
  font-size: var(--fs-lg);
}

.hover_line::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: var(--color-clr_orange);
  bottom: -8px;
  left: 0;
  transition: 0.6s ease-in-out;
}

.hover_line:hover::after {
  width: 100%;
}

.nav_effect {
  transition: all 0.5s linear;
}

.home:hover {
  color: var(--color-clr_orange) !important;
}

/* footer */
.text_shadow {
  text-shadow: 0px 3px 3.03951px rgba(0, 0, 0, 0.25);
}
.max_w_630 {
  max-width: 630px;
}

::placeholder {
  font-family: 'Bold';
  font-weight: 400;
  font-size: var(--fs-xsm);
  color: var(--color-clr_input);
  opacity: 0.4;
}

.opacity_4 {
  opacity: 0.4;
}

.email_btn {
  border: 1px solid #B2B2B2;
  border-radius: 59px;
  padding: 6px 6px;
}

input {
  padding: 12px;
  outline: none;
}

.submit_btn {
  background: linear-gradient(133.72deg, #FF2801 -0.47%, #FF6500 90.6%), linear-gradient(95.99deg, #0075FF 1.34%, #0000FF 107.5%);
  border-radius: 47.4341px;
  padding: 12px 32px;
}
.footer_back{

}
.footer_line{
  opacity: 0.2;
    border: 1px solid;
}
.opacity_6{
  opacity: 0.6;
}
@media (min-width:1200px) {
  .vh_100 {
    height: 100vh;
  }

  .lh_156 {
    line-height: 156px;
  }

  .lh_83 {
    line-height: 83px;
  }
}

@media (max-width:768px) {
  .nav_show {
    position: fixed;
    height: 104vh;
    opacity: 1;
    background-color: var(--color-clr_nav);
    transition: all 0.6s linear;
    left: -100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 6;
    top: 0;
  }

  .nav_show.showw {
    left: 0;
  }
}